.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90vw;
  margin-top: 2rem;
  gap: 2rem;
}

.topContainer {
  display: flex;
  /* padding: 0rem 2rem; */
  gap: 2rem;
  justify-content: center;
}

.bottomContainer {
  display: flex;
  padding: 0rem 2rem;
}





/*****  WIDTH   *****/
@media (max-width: 480px) {
  .mainContainer {
    width: 90vw;
    margin-top: 2rem;
    gap: 1rem;
  }
}



@media (min-width: 481px) and (max-width: 768px) {
  .mainContainer {
    width: 90vw;
    margin-top: 2rem;
    gap: 1rem;
  }
}




@media (min-width: 769px) and (max-width: 1024px) {
  .mainContainer {
    width: 90vw;
    margin-top: 2rem;
    gap: 2rem;
  }
}



@media (min-width: 1025px) and (max-width: 1444px) {
  .mainContainer {
    width: 90vw;
    margin-top: 2rem;
    gap: 2rem;
  }
}
